---
title: Home
permalink: /aa274a_aut2324/
group: "aa274a_aut2324"
order: 1
---
<!DOCTYPE html>
<html>
{% include aa274a_head.html %}
<head>
  <style>
    table {
      border-spacing: 30px;
    }
  </style>
</head>
<body id="page-top" class="index">
  {% include aa274a_navbar.html group="aa274a_aut2324" %}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h4>   </h4>
          <h1>AA 274a / CS 237A / EE 260A</h1>
          <h1>Principles of Robot Autonomy I</h1>
          <h4>Fall 2023</h4>
        </div>
      </div>
      <div class="row text-center">
        <video autoplay loop muted playsinline>
          <source src="{{site.baseurl}}/img/logos/tbot-simulation.mp4" type="video/mp4">
        </video>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Course Description</h3>
          <p>This course will cover basic principles for endowing mobile autonomous robots with planning, perception, and decision-making capabilities. Algorithmic approaches for trajectory optimization; robot motion planning; robot perception, localization, and simultaneous localization and mapping (SLAM); state machines. Extensive use of the Robot Operating System (ROS) for demonstrations and hands-on activities. Prerequisites: CS 106A or equivalent, CME 100 or equivalent (for calculus, linear algebra), and CME 106 or equivalent (for probability theory).</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h3>Instructors</h3>
          <table class="aa274_people">
            <tr>
              <th>
                <a href="https://web.stanford.edu/~schwager/">
                  <img class="aa274_headshot" src="https://web.stanford.edu/~schwager/Pictures/MacPicture.jpg">
                </a>
                <a href="https://web.stanford.edu/~schwager/">Mac Schwager</a>
              </th>
            </tr>
            <tr>
              <th>
                <a href="https://msl.stanford.edu/people/royafiroozi">
                  <img class="aa274_headshot" src="https://msl.stanford.edu/images/people/royafiroozi.jpg">
                </a>
                <a href="https://msl.stanford.edu/people/royafiroozi">Roya Firoozi</a>
              </th>
            </tr>
          </table>
        </div>
        <div class="col-md-9">
          <h3>Course Assistants</h3>
          <table class="aa274_people">
            <tr>
              <th>
                <a href="#">
                  <img class="aa274_headshot" src="https://msl.stanford.edu/images/people/javieryu.jpg">
                </a>
                <a href="#">Javier Yu</a>
              </th>
              <th>
                <a href="https://tanmay-agarwal.com/">
                  <img class="aa274_headshot" src="https://media.licdn.com/dms/image/C5603AQHr4qn-jIIGsg/profile-displayphoto-shrink_800_800/0/1606447829700?e=1700697600&v=beta&t=OnVs_NBjC1SWR0J3nb9eFuqQK3k2Tii3EfRu3P_aRhk">
                </a>
                <a href="https://tanmay-agarwal.com/">Tanmay Agarwal</a>
              </th>
              <th>
                <!-- TODO(luis) -->
                <a href="#">
                  <img class="aa274_headshot" src="https://msl.stanford.edu/images/people/keikonagami.jpg">
                </a>
                <a href="#">Keiko Nagami</a>
              </th>
              <th>
                <a href="https://www.macvincent.com/">
                  <img class="aa274_headshot" src="https://media.licdn.com/dms/image/D5603AQGH5GkO4BKgag/profile-displayphoto-shrink_800_800/0/1675122298932?e=1700697600&v=beta&t=uvwHLZGj6CDG7cnwIvLj4V2O3_N7UeZ-B1T9ohFlxTM">
                </a>
                <a href="https://www.macvincent.com/">MacVincent Ogho-Aka</a>
              </th>
              
            </tr>
            <tr>
              <th>
                <a href="#">
                  <img class="aa274_headshot" src="https://media.licdn.com/dms/image/D5603AQEIMA4JcJAfSA/profile-displayphoto-shrink_800_800/0/1679898828379?e=2147483647&v=beta&t=MLNDa-L-N6NBWpWBNu_IC3lekYY8lFIBen7QYQVGSN8">
                </a>
                <a href="#">Abhyudit Manhas</a>
              </th>
              <th>
                <a href="#">
                  <img class="aa274_headshot" src="https://msl.stanford.edu/images/people/joevincent.jpg">
                </a>
                <a href="#">Joe Vincent</a>
              </th>
              <th>
                <!-- TODO(luis) -->
                <a href="#">
                  <img class="aa274_headshot" src="https://media.licdn.com/dms/image/C4E03AQEXm5jvhzTwAg/profile-displayphoto-shrink_800_800/0/1588994907536?e=1700697600&v=beta&t=ziXfST5AUNWjpd6EVBTibmkVbqMQova2nZg_tkdv3cw">
                </a>
                <a href="#">Sunny Singh</a>
              </th>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Meeting Times</h3>
          <p>Lectures meet on Tuesdays and Thursdays from 1:30pm to 2:50pm at Gates B1.</p>
          <p>Students are expected to attend one 2-hour section each week. Check announcements for more details</p>
          <!-- TODO: location -->
          <h3>Office Hours</h3>
          <p><b>Mac's office hours</b> are Tuesdays 3-4 PM in Durand 266 and by appointment.</p>
          <!-- TODO: CA OH -->
          <h4> CA Office Hours</h4>
          <p><b>Monday</b> (Hybrid, 5:30 PM-7:30 PM, Durand 023) Sunny & Tanmay</p>
          <p><b>Tuesday</b> (Hybrid, 10 AM-12 PM, Durand 450) Joe & Tanmay</p>
          <p><b>Wednesday</b> (Hybrid, 9 AM-11 AM, Durand 270) Keiko & Javier</p>
          <p><b>Thursday</b> (In-Person, 6:30 PM-8:30 PM, Skilling) Abhyudit & MacVincent</p>
          For urgent questions, email the staff mailing list at <u><a href="mailto:aa274a-aut2324-staff@lists.stanford.edu">aa274a-aut2324-staff@lists.stanford.edu</a></u><br/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Syllabus</h3>
          <!-- TODO: syllabus -->
          <p>The class syllabus is coming soon.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Resources</h3>
          <!-- TODO: syllabus -->
          <p>You may need to use VMWare to run various parts of the software for this class. Follow the setup guide <a href="https://alvinsun.notion.site/Section-0-Workstation-Setup-d9ad4ae925174002a1eb89c26558ad49">here.</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Links</h3>
          <a href="https://canvas.stanford.edu/courses/180724"><u>Canvas</u></a> -- for course content, recordings, and announcements.<br/>
          <a href="https://www.gradescope.com/courses/630978"><u>Gradescope</u></a> -- for homework and project submissions.<br/>
          <a href="https://edstem.org/us/courses/48017/discussion/"><u>Edstem</u></a> -- for discussions and questions.
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Schedule</h3>
          <p>Coming soon. We will try to have the lecture slides and notes uploaded before each class period.</p>
        </div>
      </div>
      <p>Follow <a href="{{site.baseurl}}/aa274a_aut2223/">this link</a> to access the course website for the previous edition of Principle of Robot Autonomy I.</p>
    </div>
  </header>
  {% include javascript.html %}
  {% include footer.html %}
</body>
</html>
