---
title: Homework
permalink: /aa174a_aut2526/assignments.html
group: "aa174a_aut2526"
order: 2
---
<!DOCTYPE html>
<html>
{% include aa274a_head.html %}
<body id="page-top" class="index">
  {% include aa274a_navbar.html group="aa174a_aut2526" %}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Homework</h1>
        </div>
      </div>
      <!-- {% assign sorted_hwks = site.aa174a_aut2526 | where:'md_group', "assignments" | sort: 'due_date' | reverse %}
      {% for hwk in sorted_hwks %} -->
      <hr />
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-5">
              <h2 class="aa274-homework-title"> Homework #1 </h2>
            </div>
            <div class="col-md-3">
              <h4 class="aa274-homework-posted-date">Posted September 26 </h4>
            </div>
            <div class="col-md-4">
              <h4 class="aa274-homework-due-date">Due at 11:59pm on October 10</h4>
            </div>
          </div>
          <p>The goal of this homework is to familiarize you with some of the techniques for controlling nonholonomic wheeled robots. Please read the homework carefully.</p>
          <p>Feel free to use this <a href="pdfs/homework/hw.tex">[Latex template]</a></p>
          <p><a href="pdfs/homework/hw1.pdf">[pdf]</a> <a href="https://github.com/StanfordASL/AA174a-HW1">[code]</a></p>
        </div>
      </div>
      {% endfor %}
    </div>
  </header>
  {% include javascript.html %}
  {% include footer.html %}
</body>
</html>
