---
title: Home
permalink: /aa174a_aut2526/
group: "aa174a_aut2526"
order: 1
---
<!DOCTYPE html>
<html>
{% include aa274a_head.html %}
<body id="page-top" class="index">
  {% include aa274a_navbar.html group="aa174a_aut2526" %}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h4>   </h4>
          <h1>AA 174A / CS 137A / EE 160A</h1>
          <h1>Principles of Robot Autonomy I</h1>
          <h4>Fall 2025</h4>
        </div>
      </div>
      <div class="row text-center">
        <video autoplay loop muted playsinline>
          <source src="{{site.baseurl}}/img/logos/tbot-simulation.mp4" type="video/mp4">
        </video>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Course Description</h3>
          <p>This course will cover basic principles for endowing mobile autonomous robots with planning, perception, and decision-making capabilities. Algorithmic approaches for trajectory optimization; robot motion planning; robot perception, localization, and simultaneous localization and mapping (SLAM); state machines. Extensive use of the Robot Operating System (ROS) for demonstrations and hands-on activities. Prerequisites: CS 106A or equivalent, CME 100 or equivalent (for calculus, linear algebra), and CME 106 or equivalent (for probability theory).</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h3 style="text-align: center;">Instructor</h3>
          <table class="aa274_people">
            <tr>
              <th style="text-align: center; vertical-align: top; padding: 15px;">
                <a href="https://stanfordasl.github.io/people/prof-marco-pavone/">
                  <img class="aa274_headshot" src="https://stanfordasl.github.io/img/people/Pavone.jpg" style="display: block; margin: 0 auto 10px auto;">
                </a>
                <a href="https://stanfordasl.github.io/people/prof-marco-pavone/" style="display: block;">Marco Pavone</a>
              </th>
            </tr>
          </table>
        </div>
        <div class="col-md-8">
          <h3 style="text-align: center;">Course Assistants</h3>
          <table class="aa274_people">
            <tr>
              <th style="text-align: center; vertical-align: top; padding: 15px;">
                <a href="https://stanfordasl.github.io/people/milan_ganai/">
                  <img class="aa274_headshot" src="https://stanfordasl.github.io/img/people/milanganai.jpeg" style="display: block; margin: 0 auto 10px auto;">
                </a>
                <a href="https://stanfordasl.github.io/people/milan_ganai/" style="display: block;">Milan Ganai</a>
              </th>
              <th style="text-align: center; vertical-align: top; padding: 15px;">
                <a href="https://stanfordasl.github.io/people/jacky-kwok/">
                  <img class="aa274_headshot" src="https://stanfordasl.github.io/img/people/jkwok.jpeg" style="display: block; margin: 0 auto 10px auto;">
                </a>
                <a href="https://stanfordasl.github.io/people/jacky-kwok/" style="display: block;">Jacky Kwok</a>
              </th>
              <th style="text-align: center; vertical-align: top; padding: 15px;">
                <img class="aa274_headshot" src="resources/jenny_pfp.jpg" style="display: block; margin: 0 auto 10px auto;">
                <span style="display: block;">Jenny Kim</span>
              </th>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Meeting Times</h3>
          <p>Lectures meet on Tuesdays and Thursdays from 10:30am to 11:50am at <a href="https://campus-map.stanford.edu/?srch=CoDa#">CoDa B60</a>.</p>
          <p>Students are expected to attend one 2-hour section each week. Check announcements for more details</p>
          <p>Prof. Pavone's office hours are on Tuesdays 1:00 - 2:00pm in Durand 261 and by appointment.</p>
          <p>CA office hours:
            <ul>
              <li>Wednesdays, 4:30 - 6:30pm in Durand 270 </li>
              <li>Thursdays, 4:30 - 6:30pm in Durand 270 </li>
            </ul>
          </p>
          
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Syllabus</h3>
          <p>The class syllabus can be found <a href="pdfs/syllabus.pdf">here</a>.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Links</h3>
          <p>
            <a href="https://canvas.stanford.edu/courses/214652">Canvas</a> -- for course content, recordings, and announcements.<br/>
            <a href="https://www.gradescope.com/courses/1137718">Gradescope</a> -- for homework and project submissions.<br/>
            <a href="https://edstem.org/us/courses/87236/discussion/">Edstem</a> -- for discussions and questions.<br/>
            <a href="https://forms.gle/ep3dohSrb8vzLUyS8">Section Sign-up</a> -- sign up for a section time
              slot by 12 PM on Thursday, September 25<sup>th</sup>.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Resources</h3>
          <p>
            The homeworks require you to set up a local ROS2 environment and install vairous packages.
            Follow <a href="https://veiled-cartwheel-36c.notion.site/Local-Environment-27b66c3c12a881139a02ff1059aa0359">
            this guide</a> to set up environment on your local machine. Additional recommended reading material:
          </p>
          <p>
            <br> D. Gammelli, J. Lorenzetti, K. Luo, G. Zardini, M. Pavone. Principles of Robot Autonomy. Pre-print, 2025. Available at:
            <a href="https://stanfordasl.github.io/PoRA-I/aa174a_aut2526/resources/PoRA.pdf">https://stanfordasl.github.io/PoRA-I/aa174a_aut2526/resources/PoRA.pdf</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Lecture Notes</h3>
          <p>
            The <a href="pdfs/AA_PoRA_lecture_notes_2526.pdf">lecture notes</a> are highly 
            recommended <i>optional</i> readings for this course. It covers more advanced topics and 
            provides additional context for concepts and algorithms covered in the lectures.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Paper Review</h3>
          <p>
            Taking this class for 4 units entails additionally completing a paper review by the end of the quarter. Paper review requirements will be announced soon.
            <!-- See the paper review requirements <a href="pdfs/Paper_Review_Guidelines.pdf">here</a>. -->
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Schedule</h3>
          <p>Subject to change. We will try to have the lecture slides and notes uploaded before each class period.</p>
          <style type="text/css">
          .tg  {border-collapse:collapse;border-spacing:0;}
          .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
          .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
          .tg .tg-vnl4{font-family:"Trebuchet MS", Helvetica, sans-serif !important;;border-color:inherit;text-align:left;vertical-align:top}
          .tg .tg-2g2i{font-family:"Trebuchet MS", Helvetica, sans-serif !important;;border-color:inherit;text-align:center;vertical-align:top}
          </style>
          <table class="tg">
            <tr>
              <th class="tg-2g2i">Week</th>
              <th class="tg-vnl4">Topic</th>
              <th class="tg-vnl4">Lecture Slides</th>
              <th class="tg-vnl4">Jupyter Notebooks</th>
              <th class="tg-vnl4">Sections</th>
            </tr>
            <tr>
              <td class="tg-2g2i">1</td>
              <td class="tg-vnl4">
              Course overview, intro to robotic systems and ROS
              <br>Fundamentals of ROS
              <br><span style="font-style:italic">Friday: HW1 out</span>
              </td>
              <td class="tg-vnl4">
                <!-- Week 1 Lecuture Slides -->
                <a href="pdfs/lecture/lecture_1.pdf">Lecture 1</a><br/>
                <a href="pdfs/lecture/lecture_2.pdf">Lecture 2</a><br/>
                <!-- <a href="https://stanford.zoom.us/rec/share/XygxbfW9auQZ6hUdQdsXrTnuCh30HL1_owmEHC3eJyOsExv_JsMUxX78f9pYh28O.fPulvi0uHrDgIlBn">Lecture 2 Recording</a><br/> -->
                <a href="pdfs/pre_knowledge_assessment.pdf">Pre-knowledge quiz</a>
              </td>
              <td class="tg-vnl4">
                <!-- Week 1 Notebook -->
              </td>
              <td class="tg-vnl4">
                <!-- Week 1 Sections -->
                <a href="https://veiled-cartwheel-36c.notion.site/Section-1-UNIX-Git-and-Python-25-26-27a66c3c12a881d7ab6bf03f6f609f8a?pvs=74">Section 1 Handout</a><br/>
                <a href="pdfs/section/section_1_slides.pdf">Section 1 Slides</a>
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">2</td>
              <td class="tg-vnl4">
              State space dynamics — definitions and modeling
              <br>State space dynamics — computation and simulation
              </td>
              <td class="tg-vnl4">
                <!-- Week 2 Lecuture Slides -->
                <!-- <a href="pdfs/lecture/lecture_3.pdf">Lecture 3</a> -->
                Lecture 3
                <!-- <br/><a href="pdfs/lecture/lecture_4.pdf">Lecture 4</a> -->
                <br/>Lecture 4
              </td>
              <td class="tg-vnl4">
                <!-- Week 2 Notebook -->
                <!-- <a href="notebooks/lecture_3_and_4_notebook.ipynb">Notebook 3 & 4</a> -->
                Notebook 3 & 4
              </td>
              <td class="tg-vnl4">
                <!-- Week 2 Sections -->
                <!-- <a href="https://alvinsun.notion.site/Section-2-ROS-Workspaces-Packages-Nodes-302d8546ed8d46f0b9227db0b0f06644?pvs=4">Section 2 Handout</a> -->
                <!-- <a href="https://ishikaa.notion.site/Section-2-ROS-Workspaces-Packages-Nodes-10e16ad78705813087fbf959a6a4719a?pvs=4">Section 2 Handout</a> -->
                Section 2 Handout
                <!-- <br/><a href="pdfs/section/section_2_slides.pdf">Section 2 Slides</a> -->
                <br/>Section 2 Slides
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">3</td>
              <td class="tg-vnl4">
              Trajectory optimization
              <br>Trajectory tracking & closed-loop control
              <!-- <br>Friday: <b>Midterm I</b> -->
              <br> <span style="font-style:italic">Tuesday: HW2 out</span>
              <br> <span style="font-style:italic">Friday: HW1 due</span>
              </td>
              <td class="tg-vnl4">
                <!-- Week 3 Lecuture Slides -->
                <!-- <a href="pdfs/lecture/lecture_5.pdf">Lecture 5</a> -->
                Lecture 5
                <!-- <br/><a href="pdfs/lecture/lecture_6.pdf">Lecture 6</a> -->
                <br/>Lecture 6
              </td>
              <td class="tg-vnl4">
                <!-- Week 3 Notebook -->
                <!-- <a href="notebooks/lecture_5_1.ipynb">Notebook 5.1</a> -->
                Notebook 5.1
                <!-- <br/><a href="notebooks/lecture_5_2.ipynb">Notebook 5.2</a> -->
                <br/>Notebook 5.2
              </td>
              <td class="tg-vnl4">
                <!-- Week 3 Sections -->
                <!-- <a href="https://ishikaa.notion.site/Section-3-RViz-Launch-Files-CMake-10e16ad78705816f95bfdf4fde42fee8?pvs=4">Section 3 Handout</a> -->
                Section 3 Handout
                <!-- <br/><a href="pdfs/section/section_3_slides.pdf">Section 3 Slides</a> -->
                <br/>Section 3 Slides
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">4</td>
              <td class="tg-vnl4">
              Graph search algorithms
              <br>Sampling-based motion planning
              </td>
              <td class="tg-vnl4">
                <!-- Week 4 Lecture Slides -->
                <!-- <a href="pdfs/lecture/lecture_7.pdf">Lecture 7</a> -->
                Lecture 7
                <!-- <br/><a href="pdfs/lecture/lecture_8.pdf">Lecture 8</a> -->
                <br/>Lecture 8
                <!-- <br/><a href="pdfs/exams/AA174A_Midterm_2023.pdf">Practice Midterm</a> -->
                <br/>Practice Midterm
                <!-- <br/><a href="pdfs/exams/AA174A_Midterm_Sol_2023.pdf">Practice Midterm Solution</a> -->
                <br/>Practice Midterm Solution
              </td>
              <td class="tg-vnl4">
                <!-- Week 4 Notebook -->
                <!-- <a href="https://drive.google.com/file/d/12OBj1M_ZQ529LbQkGHdIS19cEOF-hLvi/view?usp=share_link">Notebook 8</a> -->
                <!-- <a href="notebooks/lecture_8.ipynb">Notebook 8</a> -->
                Notebook 8
              </td>
              <td class="tg-vnl4">
                <!-- Week 4 Sections -->
                <!-- <a href="https://ishikaa.notion.site/Section-4-Controller-Gain-Tuning-in-Hardware-10e16ad787058183b104c98822449eb8?pvs=4">Section 4 Handout</a> -->
                Section 4 Handout
                <!-- <br/><a href="pdfs/section/section_4_slides.pdf">Section 4 Slides</a> -->
                <br/>Section 4 Slides
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">5</td>
              <td class="tg-vnl4">
              Robotic sensors & introduction to computer vision
              <br>Camera models & coordinate frames
              <br> <span style="font-style:italic">Monday: HW2 due</span>
              <br> <span style="font-style:italic">Tuesday: HW3 out</span>
              </td>
              <td class="tg-vnl4">
                <!-- Week 5 Lecture Slides -->
                <!-- <a href="pdfs/lecture/lecture_9.pdf">Lecture 9</a> -->
                Lecture 9
                <!-- <br/><a href="pdfs/lecture/lecture_10.pdf">Lecture 10</a> -->
                <br/>Lecture 10
              </td>
              <td class="tg-vnl4">
                <!-- Week 5 Notebook -->
                <!-- <a href="https://drive.google.com/file/d/1xinye-QJ_7AD6m_yqEh4fpSjJ0aEq2gR/view?usp=share_link">Notebook 9</a> -->
                Notebook 9
                <!-- <br/><a href="https://drive.google.com/file/d/1q37CH2iNYEad8CpJo5nXCinuqCkedF8f/view?usp=sharing">Notebook 10</a> -->
                <br/>Notebook 10
              </td>
              <td class="tg-vnl4">
                <!-- Week 5 Sections -->
                <!-- <a href="https://ishikaa.notion.site/Section-5-Running-the-Navigator-10e16ad7870581d095d5ce6baf7b17db?pvs=4">Section 5 Handout</a> -->
                Section 5 Handout
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">6</td>
              <td class="tg-vnl4">
              Image processing, feature detection, and feature description
              <br>Information extraction
              <br><span style="font-style:italic">Friday: HW3 due, HW4 (part 1) out</span>
              </td>
              <td class="tg-vnl4">
                <!-- Week 6 Lecture Slides -->
                <!-- <a href="pdfs/lecture/lecture_11.pdf">Lecture 11</a> -->
                Lecture 11
                <!-- <br/><a href="pdfs/lecture/lecture_12.pdf">Lecture 12</a> -->
                <br/>Lecture 12
              </td>
              <td class="tg-vnl4">
                <!-- Week 6 Notebook -->
                <!-- <a href="https://drive.google.com/file/d/1-pyIoULCsenlGMoyGUJ42DWyYpP1NpH7/view?usp=share_link">Notebook 11</a> -->
                Notebook 11
                <!-- <br/><a href="https://drive.google.com/file/d/1AIhrKd1Vx9A7UXK9U2ec44R7-J1Ci1uP/view?usp=share_link">Notebook 12</a> -->
                <br/>Notebook 12
              </td>
              <td class="tg-vnl4">
                <!-- Week 6 Sections -->
                <!-- <a href="https://ishikaa.notion.site/Section-6-Object-Detection-10e16ad787058180af68feec8a12a10b">Section 6 Handout</a> -->
                Section 6 Handout
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">7</td>
              <td class="tg-vnl4">
              <span style="font-style:italic">Tuesday: No lecture (Democracy Day)</span>
              <br><span style="font-style:italic">Thursday: In-class midterm</span>
              </td>
              <td class="tg-vnl4">
                <!-- Week 7 Lecture Slides -->
              </td>
              <td class="tg-vnl4">
                <!-- Week 7 Notebook -->
              </td>
              <td class="tg-vnl4">
                <!-- Week 7 Sections -->
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">8</td>
              <td class="tg-vnl4">
              Deep learning for computer vision
              <br>Intro to state estimation & filtering theory
              <br><span style="font-style:italic">Friday: HW4 (part 1) due, HW4 (part 2) out</span>
              </td>
              <td class="tg-vnl4">
                <!-- Week 8 Lecture Slides -->
                <!-- <a href="pdfs/lecture/lecture_13.pdf">Lecture 13</a> -->
                Lecture 13
                <!-- <br/><a href="pdfs/lecture/lecture_14.pdf">Lecture 14</a> -->
                <br/>Lecture 14
              </td>
              <td class="tg-vnl4">
                <!-- Week 8 Notebook -->
              </td>
              <td class="tg-vnl4">
                <!-- Week 8 Sections -->
                <!-- <a href="https://ishikaa.notion.site/Section-6-Object-Detection-10e16ad787058180af68feec8a12a10b">Section 6 Handout</a> -->
                Section 6 Handout
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">9</td>
              <td class="tg-vnl4">
              Parametric filtering (KF and EKF)
              <br>Markov localization and EKF-localization
              <!-- <br><span style="font-style:italic">Friday: HW4 (part 2) due</span> -->
              </td>
              <td class="tg-vnl4">
                <!-- Week 9 Lecture Slides -->
                <!-- <a href="pdfs/lecture/lecture_15.pdf">Lecture 15</a> -->
                Lecture 15
                <!-- <br/><a href="pdfs/lecture/lecture_16.pdf">Lecture 16</a> -->
                <br/>Lecture 16
              </td>
              <td class="tg-vnl4">
                <!-- Week 9 Notebook -->
                <!-- <a href="https://drive.google.com/file/d/1TxPEaseopY0XaVXJ7PO70yT1Mh3Pd-x5/view?usp=sharing">Notebook 15</a> -->
                Notebook 15
                <!-- <br/><a href="https://colab.research.google.com/drive/15WQJ8WDY75BxgQ_GebZCXQIaoIHWQxJN?usp=sharing">Notebook 16</a> -->
                <br/>Notebook 16
              </td>
              <td class="tg-vnl4">
                <!-- Week 9 Sections -->
                <!-- <a href="https://ishikaa.notion.site/Section-8-Frontier-Exploration-10e16ad78705812b89cbdf398c62592e?pvs=4">Section 7 Handout</a> -->
                Section 7 Handout
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">N/A</td>
              <td class="tg-vnl4">
              <span style="font-style:italic">Thanksgiving Break</span>
              </td>
              <td class="tg-vnl4">
              </td>
              <td class="tg-vnl4">
              </td>
              <td class="tg-vnl4">
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">10</td>
              <td class="tg-vnl4">
              Multi-sensor perception & sensor fusion
              <br>Simultaneous localization and mapping (SLAM)
              <br><span style="font-style:italic">Tuesday: HW4 (part 2) due</span>
              </td>
              <td class="tg-vnl4">
                <!-- Week 10 Lecture Slides -->
                <!-- <a href="pdfs/lecture/lecture_17_p1.pdf">Lecture 17 (part 1)</a> / <a href="pdfs/lecture/lecture_17_p2.pdf">Lecture 17 (part 2)</a> -->
                Lecture 17 (part 1) / Lecture 17 (part 2)
                <!-- <br><a href="pdfs/lecture/lecture_18.pdf">Lecture 18</a> -->
                <br>Lecture 18
              </td>
              <td class="tg-vnl4">
                <!-- Week 10 Lecture Notes -->
                <!-- TODO:
                <a href="pdfs/notes/lecture18.pdf">Lecture 18 Notes</a>
                <br/><a href="pdfs/notes/lecture19.pdf">Lecture 19 Notes</a>
                -->
              </td>
              <td class="tg-vnl4">
                <!-- Week 10 Sections -->
                <!-- TODO -->
              </td>
            </tr>
          </table>
        </div>
      </div>
      <p>Follow <a href="{{site.baseurl}}/aa174a_aut2425/">this link</a> to access the course website for the previous edition of Principle of Robot Autonomy I.</p>
    </div>
  </header>
  {% include javascript.html %}
  {% include footer.html %}
</body>
</html>
