---
title: Home
permalink: /aa174a_aut2324/
group: "aa174a_aut2324"
order: 1
---
<!DOCTYPE html>
<html>
{% include aa274a_head.html %}
<body id="page-top" class="index">
  {% include aa274a_navbar.html group="aa174a_aut2324" %}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h4>   </h4>
          <h1>AA 174A / CS 137A / EE 160A</h1>
          <h1>Principles of Robot Autonomy I</h1>
          <h4>Fall 2023</h4>
        </div>
      </div>
      <div class="row text-center">
        <video autoplay loop muted playsinline>
          <source src="{{site.baseurl}}/img/logos/tbot-simulation.mp4" type="video/mp4">
        </video>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Course Description</h3>
          <p>This course will cover basic principles for endowing mobile autonomous robots with planning, perception, and decision-making capabilities. Algorithmic approaches for trajectory optimization; robot motion planning; robot perception, localization, and simultaneous localization and mapping (SLAM); state machines. Extensive use of the Robot Operating System (ROS) for demonstrations and hands-on activities. Prerequisites: CS 106A or equivalent, CME 100 or equivalent (for calculus, linear algebra), and CME 106 or equivalent (for probability theory).</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h3>Instructor</h3>
          <table class="aa274_people">
            <tr>
              <th>
                <a href="https://stanfordasl.github.io/people/prof-marco-pavone/">
                  <img class="aa274_headshot" src="https://stanfordasl.github.io/img/people/Pavone.jpg">
                </a>
                <a href="https://stanfordasl.github.io/people/prof-marco-pavone/">Marco Pavone</a>
              </th>
            </tr>
          </table>
        </div>
        <div class="col-md-9">
          <h3>Course Assistants</h3>
          <table class="aa274_people">
            <tr>
              <th>
                <a href="https://stanfordasl.github.io/people/chris-agia/">
                  <img class="aa274_headshot" src="https://stanfordasl.github.io/img/people/ChrisAgia.jpg">
                </a>
                <a href="https://stanfordasl.github.io/people/chris-agia/">Chris Agia</a>
              </th>
              <th>
                <a href="https://stanfordasl.github.io/people/luis-pabon/">
                  <img class="aa274_headshot" src="https://stanfordasl.github.io/img/people/LuisPabon.jpg">
                </a>
                <a href="https://stanfordasl.github.io/people/luis-pabon/">Luis Pabon</a>
              </th>
              <th>
                <a href="https://stanfordasl.github.io/people/alvin-sun/">
                  <img class="aa274_headshot" src="https://stanfordasl.github.io/img/people/AlvinSun.jpg">
                </a>
                <a href="https://stanfordasl.github.io/people/alvin-sun/">Alvin Sun</a>
              </th>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Meeting Times</h3>
          <p>Lectures meet on Tuesdays and Thursdays from 10:30am to 11:50am at Shriram 104.</p>
          <p>Students are expected to attend one 2-hour section each week. Check announcements for more details</p>
          <p>Prof. Pavone's office hours are on Tuesdays 1:00pm to 2:00pm in Durand 261 and by appointment.</p>
          <p>CA office hours are Tuesdays, 2:00 - 4:00pm @ Durand 271, Thursdays, 4:00 - 6:00pm @ Durand 353.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Syllabus</h3>
          <p>The class syllabus can be found <a href="pdfs/syllabus.pdf">here</a>.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Links</h3>
          <p>
            <a href="https://canvas.stanford.edu/courses/180672">Canvas</a> -- for course content, recordings, and announcements.<br/>
            <a href="https://www.gradescope.com/courses/623415">Gradescope</a> -- for homework and project submissions.<br/>
            <a href="https://edstem.org/us/courses/47593/discussion/">Edstem</a> -- for discussions and questions.<br/>
            <a href="https://forms.gle/CSAC8gRaBjBwwzaD8">Section Sign-up</a> -- sign up for a section time
              slot by 12 PM on Thursday, September 28<sup>th</sup>.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Resources</h3>
          <p>
            The homeworks require you to set up a local ROS2 environment and install vairous packages.
            Follow <a href="https://alvinsun.notion.site/Local-Environment-43b06e5ecedb4b0b93b81a711374134b?pvs=4">
            this guide</a> to set up environment on your local machine.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Lecture Notes</h3>
          <p>
            The <a href="pdfs/AA_PoRA_lecture_notes.pdf">lecture notes</a> are highly 
            recommended <i>optional</i> readings for this course. It covers more advanced topics and 
            provides additional context for concepts and algorithms covered in the lectures.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Schedule</h3>
          <p>Subject to change. We will try to have the lecture slides and notes uploaded before each class period.</p>
          <style type="text/css">
          .tg  {border-collapse:collapse;border-spacing:0;}
          .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
          .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
          .tg .tg-vnl4{font-family:"Trebuchet MS", Helvetica, sans-serif !important;;border-color:inherit;text-align:left;vertical-align:top}
          .tg .tg-2g2i{font-family:"Trebuchet MS", Helvetica, sans-serif !important;;border-color:inherit;text-align:center;vertical-align:top}
          </style>
          <table class="tg">
            <tr>
              <th class="tg-2g2i">Week</th>
              <th class="tg-vnl4">Topic</th>
              <th class="tg-vnl4">Lecture Slides</th>
              <th class="tg-vnl4">Jupyter Notebooks</th>
              <th class="tg-vnl4">Sections</th>
            </tr>
            <tr>
              <td class="tg-2g2i">1</td>
              <td class="tg-vnl4">
              Course overview, intro to robotic systems and ROS
              <br>Fundamentals of ROS
              <br><span style="font-style:italic">Friday: HW1 out</span>
              </td>
              <td class="tg-vnl4">
                <!-- Week 1 Lecuture Slides -->
                <a href="pdfs/lecture/lecture_1.pdf">Lecture 1</a><br/>
                <a href="pdfs/lecture/lecture_2.pdf">Lecture 2</a><br/>
                <a href="pdfs/pre_knowledge_assessment.pdf">Pre-knowledge quiz</a>
              </td>
              <td class="tg-vnl4">
                <!-- Week 1 Notebook -->
              </td>
              <td class="tg-vnl4">
                <!-- Week 1 Sections -->
                <a href="https://alvinsun.notion.site/Section-1-UNIX-Git-and-Python-15b189c0822449efa86cab4313417d18?pvs=4">Section 1 Handout</a><br/>
                <a href="pdfs/section/s1.pdf">Section 1 Slides</a>
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">2</td>
              <td class="tg-vnl4">
              State space dynamics — definitions and modeling
              <br>State space dynamics — computation and simulation
              </td>
              <td class="tg-vnl4">
                <!-- Week 2 Lecuture Slides -->
                <a href="pdfs/lecture/lecture_3.pdf">Lecture 3</a>
                <br/><a href="pdfs/lecture/lecture_4.pdf">Lecture 4</a>
              </td>
              <td class="tg-vnl4">
                <!-- Week 2 Notebook -->
                <a href="notebooks/lecture_3_and_4_notebook.ipynb">Notebook 3 & 4</a>
              </td>
              <td class="tg-vnl4">
                <!-- Week 2 Sections -->
                <a href="https://alvinsun.notion.site/Section-2-ROS-Workspaces-Packages-Nodes-302d8546ed8d46f0b9227db0b0f06644?pvs=4">Section 2 Handout</a>
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">3</td>
              <td class="tg-vnl4">
              Trajectory optimization
              <br>Trajectory tracking & closed-loop control
              <!-- <br>Friday: <b>Midterm I</b> -->
              <br> <span style="font-style:italic">Tuesday: HW2 out</span>
              <br> <span style="font-style:italic">Friday: HW1 due</span>
              </td>
              <td class="tg-vnl4">
                <!-- Week 3 Lecuture Slides -->
                <a href="pdfs/lecture/lecture_5.pdf">Lecture 5</a>
                <br/><a href="pdfs/lecture/lecture_6.pdf">Lecture 6</a>
              </td>
              <td class="tg-vnl4">
                <!-- Week 3 Notebook -->
                <a href="notebooks/lecture_5_1.ipynb">Notebook 5.1</a>
                <br/><a href="notebooks/lecture_5_2.ipynb">Notebook 5.2</a>
              </td>
              <td class="tg-vnl4">
                <!-- Week 3 Sections -->
                <a href="https://alvinsun.notion.site/Section-3-Launch-File-RVIZ-53c605b0512c441c9753596bdd55be89?pvs=4">Section 3 Handout</a>
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">4</td>
              <td class="tg-vnl4">
              Graph search algorithms
              <br>Sampling-based motion planning
              <br> <span style="font-style:italic">Friday: HW2 due</span>
              </td>
              <td class="tg-vnl4">
                <!-- Week 4 Lecture Slides -->
                <a href="pdfs/lecture/lecture_7.pdf">Lecture 7</a>
                <br/><a href="pdfs/lecture/lecture_8.pdf">Lecture 8</a>
              </td>
              <td class="tg-vnl4">
                <!-- Week 4 Notebook -->
                <a href="https://drive.google.com/file/d/12OBj1M_ZQ529LbQkGHdIS19cEOF-hLvi/view?usp=share_link">Notebook 8</a>
              </td>
              <td class="tg-vnl4">
                <!-- Week 4 Sections -->
                <a href="https://alvinsun.notion.site/Section-4-Controller-Gain-Tuning-in-Hardware-93463b095b0445fc9a81ee3f5930b82c?pvs=4">
                  Section 4 Handout
                </a>
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">5</td>
              <td class="tg-vnl4">
              Robotic sensors & introduction to computer vision
              <br>Camera models & coordinate frames
              <br> <span style="font-style:italic">Tuesday: HW3 out</span>
              </td>
              <td class="tg-vnl4">
                <!-- Week 5 Lecture Slides -->
                <a href="pdfs/lecture/lecture_9.pdf">Lecture 9</a>
                <br/><a href="pdfs/lecture/lecture_10.pdf">Lecture 10</a>
              </td>
              <td class="tg-vnl4">
                <!-- Week 5 Notebook -->
                <a href="https://drive.google.com/file/d/1xinye-QJ_7AD6m_yqEh4fpSjJ0aEq2gR/view?usp=share_link">Notebook 9</a>
              </td>
              <td class="tg-vnl4">
                <!-- Week 5 Sections -->
                <a href="https://alvinsun.notion.site/Section-5-Running-the-Navigator-22ca82035a7340eea4167cfe5156c47b?pvs=4">Section 5 Handout</a>
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">6</td>
              <td class="tg-vnl4">
              Image processing & information extraction
              <br>Visual camera tracking & control
              <br><span style="font-style:italic">Friday: HW3 due, HW4 out</span>
              </td>
              <td class="tg-vnl4">
                <!-- Week 6 Lecture Slides -->
                <a href="pdfs/lecture/lecture_11.pdf">Lecture 11</a>
                <br/><a href="pdfs/lecture/lecture_12.pdf">Lecture 12</a>
              </td>
              <td class="tg-vnl4">
                <!-- Week 6 Notebook -->
                <a href="https://drive.google.com/file/d/1-pyIoULCsenlGMoyGUJ42DWyYpP1NpH7/view?usp=share_link">Notebook 11</a>
                <!-- TODO:
                <br/><a href="pdfs/notes/lecture12.pdf">Lecture 12 Notes</a>
                -->
              </td>
              <td class="tg-vnl4">
                <!-- Week 6 Sections -->
                <!-- TODO:
                <a href="pdfs/sections/s5.pdf">Section 5 Slides</a>
                <br><a href="pdfs/sections/s5_in_person.pdf">Section 5 Handout (In-Person)</a>
                <br><a href="pdfs/sections/s5_virtual.pdf">Section 5 Handout (Virtual)</a>
                -->
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">7</td>
              <td class="tg-vnl4">
              <span style="font-style:italic">Tuesday: No lecture (Democracy Day)</span>
              <br><span style="font-style:italic">Thursday: In-class midterm</span>
              </td>
              <td class="tg-vnl4">
                <!-- Week 7 Lecture Slides -->
                <!-- TODO:
                <a href="pdfs/lecture/lecture_13.pdf">Lecture 13</a>
                -->
              </td>
              <td class="tg-vnl4">
                <!-- Week 7 Lecture Notes -->
                <!-- TODO:
                <a href="pdfs/notes/lecture13.pdf">Lecture 13 Notes</a>
                -->
              </td>
              <td class="tg-vnl4">
                <!-- Week 7 Sections -->
                <!-- TODO:
                <a href="pdfs/sections/s6.pdf">Section 6 Slides</a>
                <br><a href="pdfs/sections/s6_in_person.pdf">Section 6 Handout (In-Person)</a>
                <br><a href="pdfs/sections/s6_virtual.pdf">Section 6 Handout (Virtual)</a>
                -->
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">8</td>
              <td class="tg-vnl4">
              Deep learning for computer vision
              <br>Intro to state estimation & filtering theory
              <br><span style="font-style:italic">Friday: HW4 part 1 due</span>
              </td>
              <td class="tg-vnl4">
                <!-- Week 8 Lecture Slides -->
                <!-- TODO:
                <a href="pdfs/lecture/lecture_14.pdf">Lecture 14</a>
                <br/><a href="pdfs/lecture/lecture_15.pdf">Lecture 15</a>
                -->
              </td>
              <td class="tg-vnl4">
                <!-- Week 8 Lecture Notes -->
                <!-- TODO:
                <a href="pdfs/notes/lecture14.pdf">Lecture 14 Notes</a>
                <br/><a href="pdfs/notes/lecture15.pdf">Lecture 15 Notes</a>
                -->
              </td>
              <td class="tg-vnl4">
                <!-- Week 8 Sections -->
                <!-- TODO:
                <a href="pdfs/sections/s7.pdf">Section 7 Slides</a>
                <br><a href="pdfs/sections/s7_in_person.pdf">Section 7 Handout (In-Person)</a>
                <br><a href="pdfs/sections/s7_virtual.pdf">Section 7 Handout (Virtual)</a>
                -->
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">N/A</td>
              <td class="tg-vnl4">
              <span style="font-style:italic">Thanksgiving Break</span>
              </td>
              <td class="tg-vnl4">
              </td>
              <td class="tg-vnl4">
              </td>
              <td class="tg-vnl4">
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">9</td>
              <td class="tg-vnl4">
              Parametric filtering (KF and EKF)
              <br>Object tracking and EKF localization
              <br><span style="font-style:italic">Friday: HW4 part 2 due</span>
              </td>
              <td class="tg-vnl4">
                <!-- Week 9 Lecture Slides -->
                <!-- TODO:
                <a href="pdfs/lecture/lecture_16.pdf">Lecture 16</a>; <a href="pdfs/lecture/lecture_16_demo.pdf">Demo Slides</a>; <a href="https://github.com/virtual-vehicle/aa274_autoware_ws">Demo Code</a>
                <br/><a href="pdfs/lecture/lecture_17.pdf">Lecture 17</a>
                -->
              </td>
              <td class="tg-vnl4">
                <!-- Week 9 Lecture Notes -->
                <!-- TODO:
                <a href="pdfs/notes/lecture16and17.pdf">Lectures 16/17 Notes</a>
                -->
              </td>
              <td class="tg-vnl4">
                <!-- Week 9 Sections -->
                <!-- TODO:
                <a href="pdfs/sections/s8.pdf">Section 8 Slides</a>
                <br><a href="pdfs/sections/s8_in_person.pdf">Section 8 Handout (In-Person)</a>
                <br><a href="pdfs/sections/s8_virtual.pdf">Section 8 Handout (Virtual)</a>
                -->
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">10</td>
              <td class="tg-vnl4">
              Multi-sensor perception & sensor fusion
              <br>Simultaneous localization and mapping (SLAM)
              </td>
              <td class="tg-vnl4">
                <!-- Week 10 Lecture Slides -->
                <!-- TODO:
                <a href="pdfs/lecture/lecture_18.pdf">Lecture 18</a>; <a href="pdfs/lecture/lecture_15.pdf">Lecture 15</a>
                <br><a href="pdfs/lecture/lecture_19.pdf">Lecture 19 (State Machines)</a>
                -->
              </td>
              <td class="tg-vnl4">
                <!-- Week 10 Lecture Notes -->
                <!-- TODO:
                <a href="pdfs/notes/lecture18.pdf">Lecture 18 Notes</a>
                <br/><a href="pdfs/notes/lecture19.pdf">Lecture 19 Notes</a>
                -->
              </td>
              <td class="tg-vnl4">
                <!-- Week 10 Sections -->
                <!-- TODO -->
              </td>
            </tr>
          </table>
        </div>
      </div>
      <p>Follow <a href="{{site.baseurl}}/aa274a_aut2223/">this link</a> to access the course website for the previous edition of Principle of Robot Autonomy I.</p>
    </div>
  </header>
  {% include javascript.html %}
  {% include footer.html %}
</body>
</html>
