---
title: Home
permalink: /aa274a_aut2425/
group: "aa274a_aut2425"
order: 1
---
<!DOCTYPE html>
<html>
{% include aa274a_head.html %}
<head>
  <style>
    table {
      border-spacing: 30px;
    }
  </style>
</head>
<body id="page-top" class="index">
  {% include aa274a_navbar.html group="aa274a_aut2425" %}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h4>   </h4>
          <h1>AA 274a / CS 237A / EE 260A</h1>
          <h1>Principles of Robot Autonomy I</h1>
          <h4>Fall 2024</h4>
        </div>
      </div>
      <div class="row text-center">
        <video autoplay loop muted playsinline>
          <source src="{{site.baseurl}}/img/logos/tbot-simulation.mp4" type="video/mp4">
        </video>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Course Description</h3>
          <p>This course will cover basic principles for endowing mobile autonomous robots with planning, perception, and decision-making capabilities. Algorithmic approaches for trajectory optimization; robot motion planning; robot perception, localization, and simultaneous localization and mapping (SLAM); state machines. Extensive use of the Robot Operating System (ROS) for demonstrations and hands-on activities. Prerequisites: CS 106A or equivalent, CME 100 or equivalent (for calculus, linear algebra), and CME 106 or equivalent (for probability theory).</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h3>Instructors</h3>
          <table class="aa274_people">
            <tr>
              <th>
                <a href="https://web.stanford.edu/~schwager/">
                  <img class="aa274_headshot" src="https://web.stanford.edu/~schwager/Pictures/MacPicture.jpg">
                </a>
                <a href="https://web.stanford.edu/~schwager/">Mac Schwager</a>
              </th>
            </tr>
            <tr>
              <th>
                <a href="https://web.stanford.edu/~bohg/">
                  <img class="aa274_headshot" src="https://web.stanford.edu/~bohg/img/portrait_square.png">
                </a>
                <a href="https://web.stanford.edu/~bohg/">Jeannette Bohg</a>
              </th>
            </tr>
          </table>
        </div>
        <div class="col-md-9">
          <h3>Course Assistants</h3>
          <table class="aa274_people">
            <tr>
              <th>
                <a href="#">
                  <img class="aa274_headshot" src="./ca_images/ishikaa.jpg">
                </a>
                <a href="#">Ishikaa Lunawat</a>
              </th>
              <th>
                <a href="#">
                  <img class="aa274_headshot" src="./ca_images/aditya.jpg">
                </a>
                <a href="#">Aditya Dutt</a>
              </th>
              <th>
                <a href="#">
                  <img class="aa274_headshot" src="./ca_images/kris.jpeg">
                </a>
                <a href="#">Kristopher Riordan</a>
              </th>
              <th>
                <a href="#">
                  <img class="aa274_headshot" src="./ca_images/anshuk.png">
                </a>
                <a href="#">Anshuk Chigullapalli</a>
              </th>
              
            </tr>
            <tr>
              <th>
                <a href="#">
                  <img class="aa274_headshot" src="./ca_images/abhyudit.jpeg">
                </a>
                <a href="#">Abhyudit Manhas</a>
              </th>
              <th>
                <a href="#">
                  <img class="aa274_headshot" src="./ca_images/bryan.png">
                </a>
                <a href="#">Bryan Yang</a>
              </th>
              <th>
                <a href="#">
                  <img class="aa274_headshot" src="./ca_images/qianzhong.png">
                </a>
                <a href="#">Qianzhong Chen</a>
              </th>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Meeting Times</h3>
          <p>Lectures meet on Tuesdays and Thursdays from 1:30pm to 2:50pm at Skilling Auditorium.</p>
          <p>Students are expected to attend one 2-hour section each week. Check announcements for more details</p>
          <!-- TODO: location -->
          <h3>Office Hours</h3>
          <p><b>Mac's office hours</b> are TBD.</p>
          <p><b>Jeannette's office hours</b> are TBD.</p>
          <!-- TODO: CA OH -->
          <h4> CA Office Hours</h4>
          <p><b>Monday</b> (Hybrid, 5:30 PM-7:30 PM, Durand 023) Abhyudit & Aditya</p>
          <p><b>Tuesday</b> (Hybrid, 3:00 PM-5:00 PM, Durand 450) Qianzhong & Ishikaa</p>
          <p><b>Wednesday</b> (Hybrid, 2:00 PM-4:00 PM, Durand 270) Aditya & Bryan</p>
          <p><b>Thursday</b> (In-Person, 6:30 PM-8:30 PM, Skilling) Anshuk & Kris</p>
          For urgent questions, email the staff mailing list at <u><a href="mailto:aa274a-aut2425-staff@lists.stanford.edu">aa274a-aut2425-staff@lists.stanford.edu</a></u><br/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Syllabus</h3>
          <p>The class syllabus is on Canvas.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Resources</h3>
          <!-- # TODO: ANSHUK add setup guide here -->
          <p>You may need to use VMWare to run various parts of the software for this class. Follow the setup guide <a href="#">here.</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Links</h3>
          <a href="https://canvas.stanford.edu/courses/195630"><u>Canvas</u></a> -- for course content, recordings, and announcements.<br/>
          <a href="https://www.gradescope.com/courses/859800"><u>Gradescope</u></a> -- for homework and project submissions.<br/>
          <a href="https://edstem.org/us/courses/66285/discussion/"><u>Edstem</u></a> -- for discussions and questions.
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Schedule</h3>
          <p>Refer to the syllabus on Canvas.</p>
        </div>
      </div>
      <p>Follow <a href="{{site.baseurl}}/aa274a_aut2324/">this link</a> to access the course website for the previous edition of Principle of Robot Autonomy I.</p>
    </div>
  </header>
  {% include javascript.html %}
  {% include footer.html %}
</body>
</html>
