---
title: Home
permalink: /aa274a_aut2526/
group: "aa274a_aut2526"
order: 1
---
<!DOCTYPE html>
<html>
{% include aa274a_head.html %}
<head>
  <style>
    table {
      border-spacing: 30px;
    }
  </style>
</head>
<body id="page-top" class="index">
  {% include aa274a_navbar.html group="aa274a_aut2526" %}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h4>Welcome to CS237A!</h4>
          <h1>AA 274a / CS 237A / EE 260A</h1>
          <h1>Principles of Robot Autonomy I</h1>
          <h4>Fall 2025</h4>
        </div>
      </div>
      <div class="row text-center">
        <video autoplay loop muted playsinline>
          <source src="{{site.baseurl}}/img/logos/tbot-simulation.mp4" type="video/mp4">
        </video>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Course Description</h3>
          <p>This course will cover basic principles for endowing mobile autonomous robots with planning, perception, and decision-making capabilities. Algorithmic approaches for trajectory optimization; robot motion planning; robot perception, localization, and simultaneous localization and mapping (SLAM); state machines. Extensive use of the Robot Operating System (ROS) for demonstrations and hands-on activities. Prerequisites: CS 106A or equivalent, CME 100 or equivalent (for calculus, linear algebra), and CME 106 or equivalent (for probability theory).</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h3>Instructors</h3>
          <table class="aa274_people">
            <tr>
              <th>
                <a href="https://web.stanford.edu/~schwager/">
                  <img class="aa274_headshot" src="https://web.stanford.edu/~schwager/Pictures/MacPicture.jpg">
                </a>
                <a href="https://web.stanford.edu/~schwager/">Mac Schwager</a>
              </th>
            </tr>
          </table>
        </div>
        <div class="col-md-9">
          <h3>Course Assistants</h3>
          <table class="aa274_people">
            <tr>
              <th>
                <a href="mailto:rheamal@stanford.edu">
                  <img class="aa274_headshot" src="./ca_images/rhea.png">
                </a>
                <a href="mailto:rheamal@stanford.edu">Rhea Malhotra</a>
              </th>
              <th>
                <a href="mailto:asumuk@stanford.edu">
                  <img class="aa274_headshot" src="./ca_images/aarya.png">
                </a>
                <a href="mailto:asumuk@stanford.edu">Aarya Sumuk</a>
              </th>
              <th>
                <a href="mailto:esrincon@stanford.edu">
                  <img class="aa274_headshot" src="./ca_images/esteban.png">
                </a>
                <a href="mailto:esrincon@stanford.edu">Esteban Rincon</a>
              </th>
              <th>
                <a href="mailto:ngao4@stanford.edu">
                  <img class="aa274_headshot" src="./ca_images/naixiang.png">
                </a>
                <a href="mailto:ngao4@stanford.edu">Naixiang Gao</a>
              </th>
            </tr>
            <tr>
              <th>
                <a href="mailto:purush@stanford.edu">
                  <img class="aa274_headshot" src="./ca_images/purush.png">
                </a>
                <a href="mailto:purush@stanford.edu">Purush Mani</a>
              </th>
              <th>
                <a href="mailto:jcontr83@stanford.edu">
                  <img class="aa274_headshot" src="./ca_images/polo.png">
                </a>
                <a href="mailto:jcontr83@stanford.edu">Polo Contreras</a>
              </th>
              <th>
                <a href="mailto:jatucker@stanford.edu">
                  <img class="aa274_headshot" src="./ca_images/john.png">
                </a>
                <a href="mailto:jatucker@stanford.edu">John Tucker</a>
              </th>
              <th>
                <a href="mailto:jingyuny@stanford.edu">
                  <img class="aa274_headshot" src="./ca_images/jingyun.png">
                </a>
                <a href="mailto:jingyuny@stanford.edu">Jingyun Yang</a>
              </th>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Lecture Times</h3>
          <p>Tue, Thu 1:30 PM - 2:50 PM at <a href="https://campus-map.stanford.edu/?srch=Skilling+Auditorium" target="_blank"><u>Skilling Auditorium</u></a></p>
          <p>Students are expected to attend one 2-hour section each week. Details about lab signups will be posted Week 2.</p>
          <h3>Office Hours</h3>
          <p>
            <b>📚 CA Office Hour Schedule</b>
            <img src="./ca_images/schedule2025.png" alt="">
            <br/>
            If you're having trouble with ROS/UTM or your personal machine, you are welcome to use the Skilling Lab computers during any office hours or any lab section to complete your homework.
            For missing labs, please attend office hours to make up the lab and get checked off.
          </p>
          For urgent questions, email the staff mailing list at <u><a href="mailto:cs237a-aut2526-staff@lists.stanford.edu">cs237a-aut2526-staff@lists.stanford.edu</a></u><br/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Syllabus</h3>
            <p><a href="Syllabus_AA274A__2025_.pdf" target="_blank"><u>The class syllabus is available here</u></a>.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Resources</h3>
          <ul>
            <li>
              <a href="https://edstem.org/us/courses/87518/discussion" target="_blank"><u>EdStem</u></a> -- for discussions and questions.
            </li>
            <li>
              <a href="https://www.gradescope.com/courses/1141519" target="_blank"><u>Gradescope</u></a> -- for homework and project submissions.
            </li>
            <li>
              <a href="https://www.overleaf.com/read/kjbjkxjwgptq#a08d33" target="_blank"><u>Overleaf LaTeX Template</u></a> -- for homework and reports.
            </li>
            <li>
              <a href="https://canvas.stanford.edu/courses/212756" target="_blank"><u>Canvas</u></a> -- for course content, recordings, and announcements.
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
      </div>
        <div class="row">
          <div class="col-md-12">
            <h3>Exams</h3>
            <p>
              Exams for this course will be in a take-home format. The midterm exam will be a take-home given in Week 6 of the course (details on distribution and submission times will be announced in lecture). The exam will be open for a 48 hour period, in which a 5 hour window can be used to take the exam. The Final exam, also a take-home, will be sent out on the first day of finals week, and due at the end of the official scheduled final time on Gradescope (Tuesday December 9, at 6:30 PM PST).
            </p>
            <h3>Course Grade Calculation</h3>
            <ul>
              <li>20% – Homeworks (5 × 4% each)</li>
              <li>40% – Sections (8 × 5% each)</li>
              <li>15% – Midterm</li>
              <li>25% – Final</li>
            </ul>
            <h3>Tentative Schedule</h3>
            <div style="overflow-x:auto;">
            <table style="border-collapse:collapse; min-width:700px; width:100%;" border="1" cellpadding="4">
              <tr style="background-color:#f3f3f3; font-weight:bold;">
                <th style="border: 1px solid #bbb;">Date</th>
                <th style="border: 1px solid #bbb;">Topic</th>
                <th style="border: 1px solid #bbb;">Homework</th>
                <th style="border: 1px solid #bbb;">Lab</th>
              </tr>
              <tr><td style="border: 1px solid #bbb;">09/23</td><td style="border: 1px solid #bbb;">Course overview, perception-action loop, maps</td><td style="border: 1px solid #bbb;"></td><td style="border: 1px solid #bbb;">Lab 0: Install ROS</td></tr>
              <tr><td style="border: 1px solid #bbb;">09/25</td><td style="border: 1px solid #bbb;">Maps, Robot geometry, Coordinate frames and SE(2)/SE(3) transforms</td><td style="border: 1px solid #bbb;">HW1 out</td><td style="border: 1px solid #bbb;"></td></tr>
              <tr><td style="border: 1px solid #bbb;">09/30</td><td style="border: 1px solid #bbb;">Collision, C-space, motion models. Path planning I: A*</td><td style="border: 1px solid #bbb;"></td><td style="border: 1px solid #bbb;">Lab 1: Command line, Git, Python</td></tr>
              <tr><td style="border: 1px solid #bbb;">10/02</td><td style="border: 1px solid #bbb;">Path planning II: RRT, RRT*</td><td style="border: 1px solid #bbb;"></td><td style="border: 1px solid #bbb;"></td></tr>
              <tr><td style="border: 1px solid #bbb;">10/07</td><td style="border: 1px solid #bbb;">Trajectory optimization</td><td style="border: 1px solid #bbb;">HW1 due, HW2 out</td><td style="border: 1px solid #bbb;">Lab 2: ROS basics</td></tr>
              <tr><td style="border: 1px solid #bbb;">10/09</td><td style="border: 1px solid #bbb;">Trajectory following: PID, LQR, gain scheduled LQR</td><td style="border: 1px solid #bbb;"></td><td style="border: 1px solid #bbb;"></td></tr>
              <tr><td style="border: 1px solid #bbb;">10/14</td><td style="border: 1px solid #bbb;">Robotic sensors: IMU, lidar, cameras, RGB-D. Point clouds & ICP</td><td style="border: 1px solid #bbb;"></td><td style="border: 1px solid #bbb;">Lab 3: RViz, Turtlebot</td></tr>
              <tr><td style="border: 1px solid #bbb;">10/16</td><td style="border: 1px solid #bbb;">Pinhole camera models, camera calibration</td><td style="border: 1px solid #bbb;">HW2 due, HW3 Out</td><td style="border: 1px solid #bbb;"></td></tr>
              <tr><td style="border: 1px solid #bbb;">10/21</td><td style="border: 1px solid #bbb;">Structure from Motion (SfM), features, RANSAC</td><td style="border: 1px solid #bbb;"></td><td style="border: 1px solid #bbb;">Lab 4: Heading controller</td></tr>
              <tr><td style="border: 1px solid #bbb;">10/23</td><td style="border: 1px solid #bbb;">Learning based perception, semantic perception</td><td style="border: 1px solid #bbb;"></td><td style="border: 1px solid #bbb;"></td></tr>
              <tr><td style="border: 1px solid #bbb;">10/28</td><td style="border: 1px solid #bbb;">SLAM intro, factor graphs, PGO</td><td style="border: 1px solid #bbb;">HW3 due</td><td style="border: 1px solid #bbb;">Lab 5: Nav to goal</td></tr>
              <tr><td style="border: 1px solid #bbb;">10/29</td><td style="border: 1px solid #bbb;">Midterm: 48 hour window</td><td style="border: 1px solid #bbb;">Midterm out</td><td style="border: 1px solid #bbb;"></td></tr>
              <tr><td style="border: 1px solid #bbb;">10/30</td><td style="border: 1px solid #bbb;">Pose graph opt, bundle adjustment</td><td style="border: 1px solid #bbb;"></td><td style="border: 1px solid #bbb;"></td></tr>
              <tr><td style="border: 1px solid #bbb;">10/31</td><td style="border: 1px solid #bbb;">Midterm: 48 hour window window</td><td style="border: 1px solid #bbb;">Midterm due</td><td style="border: 1px solid #bbb;"></td></tr>
              <tr><td style="border: 1px solid #bbb;">11/04</td><td style="border: 1px solid #bbb;">No Lecture (Democracy Day)</td><td style="border: 1px solid #bbb;">HW4 out</td><td style="border: 1px solid #bbb;"></td></tr>
              <tr><td style="border: 1px solid #bbb;">11/06</td><td style="border: 1px solid #bbb;">Bayes Rule, RVs, Occ. mapping (Recorded Lecture, Mac traveling)</td><td style="border: 1px solid #bbb;"></td><td style="border: 1px solid #bbb;"></td></tr>
              <tr><td style="border: 1px solid #bbb;">11/11</td><td style="border: 1px solid #bbb;">Occ, mapping, frontier exploration</td><td style="border: 1px solid #bbb;"></td><td style="border: 1px solid #bbb;">Lab 6: Object detection</td></tr>
              <tr><td style="border: 1px solid #bbb;">11/13</td><td style="border: 1px solid #bbb;">Gaussian RVs, Kalman Filtering, EKF, UKF</td><td style="border: 1px solid #bbb;">HW4 due, HW5 out</td><td style="border: 1px solid #bbb;"></td></tr>
              <tr><td style="border: 1px solid #bbb;">11/18</td><td style="border: 1px solid #bbb;">Particle Filtering, Monte Carlo localization</td><td style="border: 1px solid #bbb;"></td><td style="border: 1px solid #bbb;">Lab 7: Frontier exploration</td></tr>
              <tr><td style="border: 1px solid #bbb;">11/20</td><td style="border: 1px solid #bbb;">Guest Lecture</td><td style="border: 1px solid #bbb;"></td><td style="border: 1px solid #bbb;"></td></tr>
              <tr><td style="border: 1px solid #bbb;">11/25</td><td style="border: 1px solid #bbb;">No lecture (Thanksgiving)</td><td style="border: 1px solid #bbb;"></td><td style="border: 1px solid #bbb;"></td></tr>
              <tr><td style="border: 1px solid #bbb;">11/27</td><td style="border: 1px solid #bbb;">No lecture (Thanksgiving)</td><td style="border: 1px solid #bbb;"></td><td style="border: 1px solid #bbb;"></td></tr>
              <tr><td style="border: 1px solid #bbb;">12/02</td><td style="border: 1px solid #bbb;">EKF Localization, obj tracking</td><td style="border: 1px solid #bbb;">HW5 due</td><td style="border: 1px solid #bbb;">Lab 8: Makeup</td></tr>
              <tr><td style="border: 1px solid #bbb;">12/04</td><td style="border: 1px solid #bbb;">Advanced Topics: Imitation learning, VLAs, 3DGS for sim2real, world models</td><td style="border: 1px solid #bbb;"></td><td style="border: 1px solid #bbb;"></td></tr>
              <tr><td style="border: 1px solid #bbb;">12/07</td><td style="border: 1px solid #bbb;">48 hour window take home final start</td><td style="border: 1px solid #bbb;">Final Exam out, 6:30pm</td><td style="border: 1px solid #bbb;"></td></tr>
              <tr><td style="border: 1px solid #bbb;">12/09</td><td style="border: 1px solid #bbb;">48 hour window take home final start</td><td style="border: 1px solid #bbb;">Final Exam due, 6:30pm</td><td style="border: 1px solid #bbb;"></td></tr>
            </table>
            </div>
          </div>
        </div>
      <p>Follow <a href="{{site.baseurl}}/aa274a_aut2425/">this link</a> to access the course website for the previous edition of Principle of Robot Autonomy I, Fall 2024.</p>
    </div>
  </header>
  {% include javascript.html %}
  {% include footer.html %}
</body>
</html>
</html>
