---
title: Home
permalink: /aa274a_aut2526/
group: "aa274a_aut2526"
order: 1
---
<!DOCTYPE html>
<html>
{% include aa274a_head.html %}
<head>
  <style>
    table {
      border-spacing: 30px;
    }
  </style>
</head>
<body id="page-top" class="index">
  {% include aa274a_navbar.html group="aa274a_aut2526" %}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h4>Welcome to CS237A!</h4>
          <h1>AA 274a / CS 237A / EE 260A</h1>
          <h1>Principles of Robot Autonomy I</h1>
          <h4>Fall 2025</h4>
        </div>
      </div>
      <div class="row text-center">
        <video autoplay loop muted playsinline>
          <source src="{{site.baseurl}}/img/logos/tbot-simulation.mp4" type="video/mp4">
        </video>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Course Description</h3>
          <p>This course will cover basic principles for endowing mobile autonomous robots with planning, perception, and decision-making capabilities. Algorithmic approaches for trajectory optimization; robot motion planning; robot perception, localization, and simultaneous localization and mapping (SLAM); state machines. Extensive use of the Robot Operating System (ROS) for demonstrations and hands-on activities. Prerequisites: CS 106A or equivalent, CME 100 or equivalent (for calculus, linear algebra), and CME 106 or equivalent (for probability theory).</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h3>Instructors</h3>
          <table class="aa274_people">
            <tr>
              <th>
                <a href="https://web.stanford.edu/~schwager/">
                  <img class="aa274_headshot" src="https://web.stanford.edu/~schwager/Pictures/MacPicture.jpg">
                </a>
                <a href="https://web.stanford.edu/~schwager/">Mac Schwager</a>
              </th>
            </tr>
          </table>
        </div>
        <div class="col-md-9">
          <h3>Course Assistants</h3>
          <table class="aa274_people">
            <tr>
              <th>
                <a href="mailto:rheamal@stanford.edu">
                  <img class="aa274_headshot" src="./ca_images/rhea.png">
                </a>
                <a href="mailto:rheamal@stanford.edu">Rhea Malhotra</a>
              </th>
              <th>
                <a href="mailto:asumuk@stanford.edu">
                  <img class="aa274_headshot" src="./ca_images/aarya.png">
                </a>
                <a href="mailto:asumuk@stanford.edu">Aarya Sumuk</a>
              </th>
              <th>
                <a href="mailto:esrincon@stanford.edu">
                  <img class="aa274_headshot" src="./ca_images/esteban.png">
                </a>
                <a href="mailto:esrincon@stanford.edu">Esteban Rincon</a>
              </th>
              <th>
                <a href="mailto:ngao4@stanford.edu">
                  <img class="aa274_headshot" src="./ca_images/naixiang.png">
                </a>
                <a href="mailto:ngao4@stanford.edu">Naixiang Gao</a>
              </th>
            </tr>
            <tr>
              <th>
                <a href="mailto:purush@stanford.edu">
                  <img class="aa274_headshot" src="./ca_images/purush.png">
                </a>
                <a href="mailto:purush@stanford.edu">Purush Mani</a>
              </th>
              <th>
                <a href="mailto:jcontr83@stanford.edu">
                  <img class="aa274_headshot" src="./ca_images/polo.png">
                </a>
                <a href="mailto:jcontr83@stanford.edu">Polo Contreras</a>
              </th>
              <th>
                <a href="mailto:jatucker@stanford.edu">
                  <img class="aa274_headshot" src="./ca_images/john.png">
                </a>
                <a href="mailto:jatucker@stanford.edu">John Tucker</a>
              </th>
              <th>
                <a href="mailto:jingyuny@stanford.edu">
                  <img class="aa274_headshot" src="./ca_images/jingyun.png">
                </a>
                <a href="mailto:jingyuny@stanford.edu">Jingyun Yang</a>
              </th>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Lecture Times</h3>
          <p>Tue, Thu 1:30 PM - 2:50 PM at <a href="https://campus-map.stanford.edu/?srch=Skilling+Auditorium" target="_blank"><u>Skilling Auditorium</u></a></p>
          <p>Students are expected to attend one 2-hour section each week. Details about lab signups will be posted Week 2.</p>
          <h3>Office Hours</h3>
          <p>
            <b>📚 CA Office Hour Schedule</b>
            <table>
              <tr>
                <th style="font-weight: bold; background-color: #f3f3f3;">CA</th>
                <th style="font-weight: bold; background-color: #f3f3f3;">Time</th>
                <th style="font-weight: bold; background-color: #f3f3f3;">Location</th>
              </tr>
              <tr>
                <td>Rhea</td>
                <td>Monday 5:30pm – 7:30pm</td>
                <td>In-person, Durand 023</td>
              </tr>
              <tr>
                <td>Aarya</td>
                <td>Tuesday 11am – 1pm</td>
                <td>Hybrid, Durand 353</td>
              </tr>
              <tr>
                <td>Purush</td>
                <td>Wednesday 3pm - 5pm</td>
                <td>Hybrid, Durand 353</td>
              </tr>
              <tr>
                <td>Jingyun</td>
                <td>Thursday 6:30pm – 8:30pm</td>
                <td>In-person, Skilling Lab</td>
              </tr>
            </table>
            <br/>
            Jingyun's OH can be used for section make-up.
          </p>
          For urgent questions, email the staff mailing list at <u><a href="mailto:aa274a-aut2526-staff@lists.stanford.edu">aa274a-aut2526-staff@lists.stanford.edu</a></u><br/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Syllabus</h3>
          <p>The class syllabus is on Canvas.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Resources</h3>
          <ul>
            <li>
              <a href="https://edstem.org/us/courses/87518/discussion" target="_blank"><u>EdStem</u></a> -- for discussions and questions.
            </li>
            <li>
              <a href="https://www.gradescope.com/courses/1141519" target="_blank"><u>Gradescope</u></a> -- for homework and project submissions.
            </li>
            <li>
              <a href="https://www.overleaf.com/read/kjbjkxjwgptq#a08d33" target="_blank"><u>Overleaf LaTeX Template</u></a> -- for homework and reports.
            </li>
            <li>
              <a href="https://canvas.stanford.edu/courses/212756" target="_blank"><u>Canvas</u></a> -- for course content, recordings, and announcements.
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Schedule</h3>
          <p>Refer to the syllabus on Canvas.</p>
        </div>
      </div>
      <p>Follow <a href="{{site.baseurl}}/aa274a_aut2425/">this link</a> to access the course website for the previous edition of Principle of Robot Autonomy I, Fall 2024.</p>
    </div>
  </header>
  {% include javascript.html %}
  {% include footer.html %}
</body>
</html>
</html>
